// global imports
@import "reset";
@import "vars";

//component-specific styles
@import "global-nav";

// page-specific styles
@import "plans";
@import "sessions";
@import "users";

// global styles
html {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  color: $text-dark-color;
}

h1,h2,h3,h4,h5,p {
  color: $text-dark-color;
}

a {
  text-decoration: none;
  color: $link-color;

  &.inverse {
    color: white;
  }
}

input {
  border: 1px solid $border-color;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  font-size: 21px;
  border-radius: 2px;
  box-sizing: border-box;
}

.button {
  &.primary {
    background-color: $brand-color;
    color: white;
    border: 1px solid $brand-color;
  }

  &.secondary {
    border: 2px solid $brand-color;
    color: $brand-color;
    padding: 8px 16px;
  }

  &.inverse {
    color: white;
    border: 2px solid white;
  }
}

#content {
  padding: 32px 24px;
}
