<nav class="global-nav">
  <div class="global-nav__wrap">
    <ul class="global-nav__list--left">
      <%= link_to 'Pet Trainer', root_url, :class => 'global-nav__logo inverse' %>
    </ul>

    <ul class="global-nav__list--right">
      <% if logged_in? %>
        <%= link_to current_user do %>
          <div class="global-nav__user-image-name">
            <img class="global-nav__user-image" src="http://placehold.it/350x350" />
            <span class="global-nav__user-name"><%= current_user.first_name %></span>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Log in", login_path, :class => 'button secondary inverse' %>
      <% end %>
    </ul>
  </div>
</nav>
